@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.linki{
    text-decoration: none;
    color:brown;
    text-align: center;
}

.last
{
    display: flex;
    justify-content: center;
}
.nav-item
{
    font-size: 16px;
    font-weight: bold;
}
@media(min-width:909px)
{
    .c4{
        font-size: 60px;
    }
}
.logi
{
    height: 100px;
    width: 180px;
    border: solid 1px;
}
.d-block
{
    border: solid 1px;
    border-color: blue;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	}
#dpara{
    font-family: 'PT Serif',serif,cursive;
    font-size: 20px;
    text-align:center;

}
#download
{
    background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}

.fcimg2
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fp
{
   
    text-align: center;
    font-size: 26px;
}
.f42
{
    height: 380px;
    width:580px;
    border: solid 1px;
    margin: 30px;
    border-color: purple;

}
.f33
{
    height: 180px;
    width:280px;
    border: solid 1px;
    margin: 30px;
    border-color: purple;

}

.fdiv
{
    padding: 10px;
    
    color:brown;
    font-size: 20px;
}
#fac{
    padding: 30px;
margin-top: 80px;
background-color:white;
}

#fchead
{
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.fcimg2
{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

}

@media (min-width:982px) {

#services1
{
    margin-top: 177px;
}

#fixedbutton {
    position: fixed;
    top: 560px;
    right: 30px;
}
.carousel-control-prev-icon
{
    position:relative;
    left: 299px;

    color: brown;

}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon
{
    position:relative;
    right: 299px;

}

.services{
  padding: 30px;

}
.conimg2
{
  width: 600px;
  height:500px;
}
.conimg
{
  width: 600px;
  height:500px;
}

.sh
{
  text-align: center;
  
}
.services
{
  background-color:white;
  color:black;
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;


}
#constructions{
    font-size: 50px;
    color:grey;
}

    .backsetter
{

    background-color:white;
    /*background-size: cover;*/
    background-size:cover;
    
    padding: 50px;
  }
.logo
{
    height: 200px;
    width: 360px;
    padding-bottom: 40px;
    padding-left: 20px;
}
.nav-item
{
    margin-left: 40px;
}

.catchy
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.im2
{
    height: 360px;
    width: 480px;

}
.c1
{
    padding-top: 200px;
    width: 1400px;
    font-weight: bolder;

    padding-left:290px;
    margin: 0px;
	  word-wrap: break-all;
      font-family: 'Staatliches', cursive;



}


.navbar-brand{
    text-align: center;
    padding-left: 25px;


}

#logo
{
    color:brown;
    font-size: 46px;
font-family: 'Kanit', sans-serif;
margin-bottom: 2px;

}
#bio
{
    font-size: 16px;
    font-weight: bold;
    color:olive;
font-family: 'PT Serif', serif;
    margin-top: 2px;
}
.im2{
    right: -30px;

    margin-top: 45px;
}

.ctext
{
    font-size: 40px;
    color:white;
    position: relative;
    bottom:90px;
    /*background: rgb(0, 0, 0); /* Fallback color */
    /*background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    /*color: #f1f1f1; /* Grey text */

    text-shadow: 2px 2px 2px black;
}
h1
{
    font-size: 60px;
    color: white;
}

.c4
{
    font-size: 40px;
    color: white;
    position: relative;
    bottom:90px;

}
.m76
{   position:relative;
    top: 90px;
    right:290px;
    height: 600px;
}
.imgflex
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.w-100
{
  width: 200px;
}
.row{
  position: relative;
  padding-bottom: 600px;

}

}
.conflex
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}


@media (max-width:981px) {

#services1
{
    margin-top: 40px;
    padding:10px;

    height:800px;
}
    .navbar-toggler
    {
position: relative;
right:10px;
    }
  .conimg2
  {
    width: 300px;
    height:400px;
  }
  .sh
  {
    text-align: center;
    
  }
  .services
  {


  background-color:white;
  color:black;
  font-family: 'Bebas Neue', cursive;
  font-size: 23px;



  }
  #constructions
  {
    color: grey;
    font-size: 33px;
  }
    
    .ctext
{
    font-size:22px;
    color:white;
    /*background: rgb(0, 0, 0); /* Fallback color */
    /*background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    /*color: #f1f1f1; /* Grey text */
    text-shadow: 2px 2px 2px black;
    padding-left: 30px;
}
.c1{
    padding-left: 12px;
    padding-top: 40px;
    font-size:20px;
    color: white;

    font-family: 'Staatliches', cursive;
    word-wrap: break-word;
}
.c4{
    padding-left: 12px;
    padding-top: 40px;
    font-size: 40px;
    color: white;

    font-family: 'Staatliches', cursive;
    word-wrap: break-word;
}

#logo
{
    color: brown;
    font-size: 22px;
font-family: 'Kanit', sans-serif;
margin-bottom: 2px;
}
#bio
{
    font-size: 12px;
    color:olive;
font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2px;
}
.conimg
{
  width: 300px;
  height:400px;
}
.services{
  padding-left: 2px;
}

.carousel-control-prev-icon
{
    position:relative;
    left: 150px;

    color: brown;

}
.carousel-control-next-icon
{
    position:relative;
    left: 150px;

    color: brown;

}
.ulist
{
    font-size: 15px;
    font-family: 'Staatliches', cursive;
}
}
@media (max-width:543px) {


}
@media (max-width:622px)
{



    #fac
    {
        margin-top: 500px;


    }
}
@media (max-width:227px)
{

    #download
    {
        margin-top: 600px;
        border: solid 1px;
    }
}
@media (min-width:697px) or (max-width:803)
{
   
}
@media (max-width:480px)
{
  .navbar-toggler
  {
position: relative;
left:40%;
  }
  #logo{
    position: relative;
    left:40%;
  }
  #bio{
    position: relative;
    left:10%;
}
}
